---
import BaseHead from '../components/BaseHead.astro';
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="About">
	<article class="wrapper">
		<h1>About</h1>
		<p>This is the about page.</p>
	</article>
</BaseLayout>
