---
import BaseHead from '../components/BaseHead.astro';
import BaseLayout from '../layouts/BaseLayout.astro';
import PageTitle from '../components/PageTitle.astro';
---

<BaseLayout title="About">
	<article class="wrapper">
		<PageTitle title="About" />
		<p>This is the about page.</p>
	</article>
</BaseLayout>
