---
import BaseLayout from '../layouts/BaseLayout.astro';
import PageTitle from '../components/PageTitle.astro';
---

<BaseLayout title="Contact" description="How to get in touch">
  <article>
    <PageTitle title="Contact" />
    <p>You can reach me at:</p>
    <ul>
      <li>Email: <a href="mailto:your.email@example.com">your.email@example.com</a></li>
      <li>Twitter: <a href="https://twitter.com/yourusername">@yourusername</a></li>
    </ul>
  </article>
</BaseLayout>

