---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="Now" description="What I'm doing now">
	<article>
		<h1>Now</h1>
		<p>This is a <a href="https://nownownow.com/about">now page</a>, and if you have your own site, <a href="https://nownownow.com/about">you should make one</a>, too.</p>
	</article>
</BaseLayout> 