---
import { AUTHOR_NAME } from '../consts';
const today = new Date();
---

<footer>
	<div class="footer-container">
		&copy; {today.getFullYear()} {AUTHOR_NAME}. All rights reserved.
	</div>
</footer>

<style>
	footer {
		width: 100%;
		background-color: var(--theme-bg);
		border-top: 1px solid var(--theme-border);
		padding: 1rem 0;
	}

	.footer-container {
		max-width: 70rem;
		margin: 0 auto;
		padding: 0 1rem;
		text-align: center;
	}
</style>
