---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../consts';
---

<header>
	<nav class="nav-container">
		<div class="internal-links">
			<HeaderLink href="/">Home</HeaderLink>
			<HeaderLink href="/about">About</HeaderLink>
		</div>
		<h1 class="site-title"><a href="/" class="site-title-link">{SITE_TITLE}</a></h1>
	</nav>
</header>

<style>
	header {
		width: 100%;
		background-color: var(--theme-bg);
		border-bottom: 1px solid var(--theme-border);
	}

	.nav-container {
		max-width: 70rem;
		margin: 0 auto;
		padding: 1rem;
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 1rem;
	}

	.internal-links {
		display: flex;
		gap: 1rem;
	}

	.site-title {
		margin: 0;
		text-align: center;
		font-variation-settings: 'wght' 900;
	}

	header .site-title .site-title-link {
		text-decoration: none;
		color: inherit;
	}

	header .site-title .site-title-link:hover {
		text-decoration: none;
	}
</style>
