---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../consts';
import { SITE_TITLE_SHORT, navigation } from '../config';

interface Props {
  hideNav?: boolean;
  minimalLayout?: boolean;
}

const { minimalLayout = false } = Astro.props;
---

<header role="banner">
  <div class="nav-container">
    <nav class="internal-links" aria-label="Main navigation">
      {navigation.map(item => (
        <HeaderLink
          href={item.href}
          class={`nav-link ${minimalLayout ? 'minimal' : ''}`}
          aria-current={Astro.url.pathname === item.href ? 'page' : undefined}
        >
          {item.label}
        </HeaderLink>
      ))}
    </nav>
  </div>
  <div class="nav-container">
    <div class="title-container">
      <h1 class={`site-title ${minimalLayout ? 'minimal' : ''}`}>
        <a href="/">{SITE_TITLE_SHORT}</a>
      </h1>

      {
        !minimalLayout && (
          <p class="site-description">
            <strong>mb bischoff</strong> <small>(she/they)</small> makes <a href="https://lickability.com">software</a>, <a href="/archive">sentences</a>, & <a href="https://absolutelycrushed.com">sounds</a>.
          </p>
        )
      }
    </div>
  </div>
</header>

<style>
  header {
    padding: var(--space-xs) 0;
  }

  .nav-container {
    max-width: var(--max-width);
    margin: 0 auto;
    padding: 0 var(--space-s);
	font-size: var(--font-size-larger);
  }

  .internal-links {
    display: flex;
    justify-content: space-between;
    width: 100%;
    text-transform: lowercase;
  }

  .title-container {
    text-align: left;
  }

  .site-title {
    font-size: var(--font-size-huge);
    line-height: 1;
	padding-block: var(--font-size-massive);
    margin: 0;
    color: var(--theme-accent);
    text-align: center;
    font-weight: 900;
    letter-spacing: -0.04em;
    text-decoration: none;
  }

  .site-title.minimal {
    color: var(--theme-secondary);
  }

  .site-title a {
    text-decoration: none;
    color: inherit;
    border-bottom: none;
    padding-bottom: 0;
  }

  .site-description {
    text-align: center;
    margin: 0;
    font-size: var(--font-size-large);
  }

  .site-description a {
    color: var(--theme-accent);
    text-decoration: none;
    border-bottom: none;
    padding-bottom: 0;
  }

  .site-description a:hover {
    color: var(--theme-secondary-hover);
    text-decoration: none;
    border-bottom: none;
  }

  :global(.nav-link) {
    border-bottom: none;
    padding-bottom: 0;
  }

  :global(.nav-link:hover) {
    border-bottom: none;
  }

  :global(.nav-link.minimal) {
    color: var(--theme-secondary);
  }

  :global(.nav-link.minimal:hover) {
    color: var(--theme-secondary-hover);
  }

  :global(.nav-link.minimal.active) {
    color: var(--theme-secondary);
  }

  .header-container {
    max-width: var(--max-width);
    margin: 0 auto;
    padding: 0 var(--space-s);
  }
</style>
